* {
    box-sizing: border-box;
  }
  body{
      margin: 0;
      background-color: rgba(6, 82, 53, 0.822);
  }
  header{
    padding: 40px;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    
  }
  aside{
    margin: 20px;
  }
  footer{
    margin: 20px;
  }
  nav{
    font-size: 22px;
    text-decoration: none;
    
  }
  nav a{
      text-decoration: none;
      color: wheat;
      padding: 0 25px;
  }
  section{
    background-image: url('Img/QA_Smiley_By_mRG.png');
    background-size:auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
  }

  /*Klase*/
  .content{
      background-color: rgba(5, 6, 53, 0.856);
      padding: 30px;
      margin: 20px;
      border: 0 auto;
      color: wheat;
      text-align: center;
  }
  

  .separator{
      min-height: 800px;
  }
  .showHide{
    display: none;
  }
  